@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    background-color: #0000ff85;
    height: 80px;
    color: azure;
    justify-content: space-between;
    align-items: center;
}

header span{
    margin-left: 20px;
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
}

header a{
    color: azure;
}

footer {
    bottom: 0;
    height: 80px;
    background-color: #3a6263;
    position: fixed;
    width: 100%;
    text-align: center;
    color: azure;
    display: inline-block;
}

a {
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li:hover{
    display: inline-block;
    padding: 0 20px;
    background-color: #9292bb85;
    border-radius: 30px;
}

a button {
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: darkgrey;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 60px;
    font-weight: 700;
}

a button:hover {
    background-color: rgb(215, 215, 215);
    color: black;
}

footer #text-footer {
    margin-top: 20px;
}

footer #icons {
    text-decoration: none;
    color: azure;
}

#icons svg{
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100% 1r;
    gap: 10px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.grid-item {
   padding: 1rem; 
}

#title {
    font-size: 24px;
    margin-top: 10px;
    margin-left: 20px;
}
